*{
    padding: 0;
    margin: 0;
}

#principal{
    width: 80%;
    height: 500px;
    margin: 50px auto;
    border: 1px solid #000;
    position: relative;
    background-image: url(IMG_8151.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
 #principal div{
     width: 200px;
     height: 200px;
    
 }

 .div1{
     position: absolute;
     left: -100px;
     top: 150px;
     border: 2px solid #000;
     background-image: url(48images.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     
     background-attachment: fixed;
 }

 .div2{
    position: absolute;
    right: -100px;
    top: 150px;
    border: 2px solid #f00;
}